.container{
    width: 100%;
    max-width: 100%;
}

nav{
    background-color: purple !important;
    height: 70px;
}
.tocmap{
    margin: 0 0 !important;
    margin-top: 3px !important;
    height: 30px !important;
}
.headingp{
    /* font-size: 25px; */
    margin: 0 0 !important;
    padding: 0 0 !important;
    text-align:center;
    color: purple !important;

}
.sidemap{
    margin: 0 0 !important;
}
#map{ 
    height: calc(100vh - 100px);
 }
.mapdiv{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.leftside{
   /* height: 95vh!important; */
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3px!important;
    padding-right: 3px!important;
}
.tabs{
    padding-left: 0px !important;
    padding-right: 0px!important;
    background-color: purple !important;
    color: teal;
}


.card{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
