
.container {
    width: 100%;
    max-width:initial;
  }
  .container > .row {
    margin: 0;
  }
  .container > .row > .col {
    padding: 0;
  }
nav{
    background-color: #008140 !important;
    /* height: 70px; */
}

hr.hr1{
    
        border: none;
        margin: 0 0 !important;
        width: 25%;
        height: 1px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: #FFC128; /* Modern Browsers */
    
}


.headingp{
    /* font-size: 25px; */
    margin: 0 0 !important;
    padding: 0 0 !important;
    text-align:center;
    color: white !important;

}

#map{ 
    height: calc(100vh - 66px);
 }


.leftside{
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;

}
.tabs{

    background-color: #008140 !important;
}
.tabs .tab a{
    color: white;
    padding: 0 !important;
    font-size: none !important;
}
.tabsdata{
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.card{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

/* .tabs .tab a{
    color:#eee;
} 

.tabs .tab a:hover {
    background-color:#ee6e73;
    color:#eee;
} 

.tabs .tab a.active {
    background-color:#d0be26;
    color:#fafafa;
}  */

.tabs .indicator {
    background-color:#FFC128
} /*Color of underline*/
.tabs .tab a.active {
    
    color:#FFC128
}  
.tabs .tab a:hover {
    
    color:#d0be26;
} 